
<div class="brand-logo">
    <div class="container">
        <div class="slider-items-products">
            <div id="brand-logo-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col6">

                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="/client-side/images/brand3.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="/client-side/images/brand1.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="/client-side/images/brand2.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="/client-side/images/brand4.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="/client-side/images/brand5.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="/client-side/images/brand6.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="/client-side/images/brand2.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                    <!-- Item -->
                    <div class="item"> <a href="#"><img src="/client-side/images/brand4.png" alt="Image"> </a> </div>
                    <!-- End Item -->
                </div>
            </div>
        </div>
    </div>
</div>