<header>
    <div class="header-container">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <!-- Header Language -->
                    <div class="col-xs-12 col-sm-6">
                        <div class="welcome-msg">Welcome to ShopMart! </div>
                        <div class="dropdown jtv-language-box">
                            <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="#"> <img src="/client-side/images/flag-english.jpg" alt="language"> English <span class="caret"></span> </a>
                            <ul class="dropdown-menu" role="menu">
                                <li> <a class="selected" href="#"> <img src="/client-side/images/flag-english.jpg" alt="flag"> <span>English</span> </a> </li>
                                <li> <a href="#"> <img src="/client-side/images/flag-default.jpg" alt="flag"> <span>French</span> </a> </li>
                                <li> <a href="#"> <img src="/client-side/images/flag-german.jpg" alt="flag"> <span>German</span> </a> </li>
                                <li> <a href="#"> <img src="/client-side/images/flag-brazil.jpg" alt="flag"> <span>Brazil</span> </a> </li>
                                <li> <a href="#"> <img src="/client-side/images/flag-chile.jpg" alt="flag"> <span>Chile</span> </a> </li>
                                <li> <a href="#"> <img src="/client-side/images/flag-spain.jpg" alt="flag"> <span>Spain</span> </a> </li>
                            </ul>
                        </div>
                        <!-- End Header Language -->
                        <!-- Header Currency -->
                        <div class="dropdown jtv-currency-box">
                            <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="#"> USD <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"> $ - Dollar </a> </li>
                                <li><a href="#"> £ - Pound </a> </li>
                                <li><a href="#"> € - Euro </a> </li>
                            </ul>
                        </div>
                        <!-- End Header Currency -->
                    </div>
                    <div class="col-xs-6 hidden-xs">
                        <!-- Header Top Links -->
                        <div class="jtv-top-links">
                            <div class="links">
                                <ul>
                                    <li> <a title="Wishlist" href="wishlist.html">Wishlist</a> </li>
                                    <li> <a title="Checkout" href="checkout.html"><span class="hidden-xs">Checkout</span></a> </li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            <div class="dropdown block-company-wrapper hidden-xs">
                                                <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="#">@User.GetSpecificClaim("FullName")<span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/account.html">Thông tin tài khoản</a> </li>
                                                    <li><a href="/abc.html"> Danh sách yêu thích </a> </li>
                                                    <li><a href="/order-list.html">Danh sách đơn hàng</a> </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <li>
                                            <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post">
                                                <a href="#" onclick="document.getElementById('logoutForm').submit()"><span>Đăng xuất</span></a>
                                            </form>
                                        </li>
                                    }
                                    else
                                    {
                                        <li> <a href="/login.html"><span class="hidden-xs">Đăng nhập</span></a> </li>
                                        <li> <a title="Đăng ký tài khoản" href="/register.html"><span class="hidden-xs">Đăng Ký</span></a> </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- End Header Top Links -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="jtv-top-cart-box">
                        <!-- Top Cart -->
                        <div class="mini-cart">
                            <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="/cart.html"> <span class="cart_count">2</span><span class="price">Giỏ hàng / $259.00</span> </a> </div>
                            <div>
                                <div class="jtv-top-cart-content">

                                    <!--block-subtitle-->
                                    <ul class="mini-products-list" id="cart-sidebar">
                                        <li class="item first">
                                            <div class="item-inner">
                                                <a class="product-image" title="Product Title Here ref=" #"><img alt="Product Title Here" " src="images/products/img01.jpg"> </a>
                                                <div class="product-details">
                                                    <div class="access"><a class="jtv-btn-remove remove-cart" title="Remove This Item" href="#">Remove</a> <a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a> </div>
                                                    <p class="product-name"><a href="#">Product Title Here</a> </p>
                                                    <strong>1</strong> x <span class="price">$79.99</span>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>

                                    <!--actions-->
                                    <div class="actions">
                                        <button class="btn-checkout" title="Checkout" type="button" onClick="checkout.html"><span>Checkout</span> </button>
                                        <a href="/cart.html" class="view-cart"><span>Xem giỏ hàng</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 jtv-logo-box">
                    <!-- Header Logo -->
                    <div class="logo"> <a title="eCommerce" href="/"><img alt="eCommerce" src="/client-side/images/logo.png"> </a> </div>
                    <!-- End Header Logo -->
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 hidden-xs">
                    <div class="search-box">
                        <form action="/search.html" method="get" id="search_mini_form" name="Categories">
                            <input type="text" placeholder="Nhập tên sản phẩm"  maxlength="70" name="search" id="search">
                            <button type="button" class="search-btn-bg"><span class="glyphicon glyphicon-search"></span>&nbsp;</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>