@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a href="/" title="Quay lại trang chủ">Trang chủ</a> <span>/</span> </li>
                    <li> <a href="#" title="Đăng ký tài khảon">Đăng ký</a> <span>/</span> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->


<section class="main-container col1-layout">
    <div class="main container">
        <div class="account-login">
            <div class="page-title text-center">
                <div class="alert alert-success">
                    <h2>Cám ơn bạn đã xác nhận email đăng ký.</h2>
                </div>
            </div>
        </div>
    </div>
</section>
