@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>
    Vui lòng kiểm tra lại email của bạn để thiết lập lại mật khẩu của bạn.
</p>