
@{
    ViewData["Title"] = "Lockout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Tài khoản này đã bị tạm khóa, vui lòng thử lại sau</p>
</header>