@model List<ProductCategoryViewModel>

<div class="mm-toggle-wrap">
    <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span> </div>
</div>
<div class="nav-inner">
    <!-- BEGIN NAV -->
    <ul id="nav" class="hidden-xs">
        <li class="drop-menu">
            <a href="/" class="level-top active"><span>Trang chủ</span></a>
        </li>
        <li class="drop-menu">
            <a href="/product.html"> <span>Sản phẩm</span> </a>
            <ul>
                @foreach (var item in Model.Where(c => c.ParentId == null))
                {
                    if (Model.Any(x => x.ParentId == item.Id))
                    {
                        <li class="sub-cat">
                            <a href="/@item.SeoAlias-c.@(item.Id).html"><span>@item.Name</span></a>
                            <ul>
                                @foreach (var subItem in Model.Where(x => x.ParentId == item.Id))
                                {
                                    <li>
                                        <a href="/@subItem.SeoAlias-c.@(subItem.Id).html"><span>@subItem.Name</span></a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="sub-cat">
                            <a href="/@item.SeoAlias-c.@(item.Id).html"><span>@item.Name</span></a>
                        </li>
                    }

                }
            </ul>
        </li>
        <li class="mega-menu">
            <a class="level-top" href="/about.html"><span>About Us</span></a>
            <div class="jtv-menu-block-wrapper">
                <div class="jtv-menu-block-wrapper2">
                    <div class="nav-block jtv-nav-block-center">
                        <div class="col-1">
                            <ul class="level0">
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>tassel saddle bag</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Toaster Crossbody</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Piper Bag</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Leather Bag</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Canvas Bag</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>bucket bag</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Travel Accessories</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Gym Bags</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Fashion Waist Packs</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Messenger Bags</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>saddle bag</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Travel Duffels</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Umbrellas</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Waist Packs</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Travel Gear</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>curved boxy sling</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Luggage</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Briefcases</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Bowling</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Bucket Bag</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>floral lattice bag</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Crossbody Bag</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Clutch Handbag</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Hobo Shoulder</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Saddle Bag</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>Bag Accessories</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Wallet Wristlet</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Solo Premium </span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Laptop Bags</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Belts</span></a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-2">
                            <div class="jtv-nav-image1"> <a title="" href="#"><img alt="menu_image" src="images/menu-img1.jpg"> </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
       
        <li class="mega-menu"> <a class="level-top" href="blog.html"><span>Blog</span></a> </li>
    </ul>
</div>