<div class="mm-toggle-wrap">
    <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span> </div>
</div>
<div class="nav-inner">
    <!-- BEGIN NAV -->
    <ul id="nav" class="hidden-xs">
        <li class="drop-menu">
            <a href="index.html" class="level-top active"><span>Home</span></a>
        </li>
        <li class="drop-menu">
            <a href="#"> <span>Pages</span> </a>
            <ul>
                <li class="sub-cat">
                    <a href="shop_grid.html"><span>Shop Grid</span></a>
                    <ul>
                        <li> <a href="shop_grid_right.html"> <span>Shop Grid Right Sidebar</span> </a> </li>
                        <li> <a href="shop_grid_fullwidth.html"> <span>Shop Grid Fullwidth</span> </a> </li>
                    </ul>
                </li>
                <li class="sub-cat">
                    <a href="shop_list.html"> <span>Shop List</span> </a>
                    <ul>
                        <li> <a href="shop_list_right.html"> <span>Shop List Right Sidebar</span> </a> </li>
                    </ul>
                </li>
                <li> <a href="single_product.html"> <span>Single Product</span> </a> </li>
                <li> <a href="shopping_cart.html"> <span>Shopping Cart</span> </a> </li>
                <li><a href="checkout.html"><span>Checkout</span></a> </li>
                <li> <a href="wishlist.html"> <span>Wishlist</span> </a> </li>
                <li><a href="compare.html"><span>Compare</span></a> </li>
                <li><a href="quick_view.html"><span>Quick View</span></a> </li>
                <li><a href="404error.html"><span>404 Error Page</span></a> </li>
            </ul>
        </li>
        <li class="mega-menu">
            <a class="level-top" href="shop_grid.html"><span>Clutches</span></a>
            <div class="jtv-menu-block-wrapper">
                <div class="jtv-menu-block-wrapper2">
                    <div class="nav-block jtv-nav-block-center">
                        <div class="col-1">
                            <ul class="level0">
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>tassel saddle bag</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Toaster Crossbody</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Piper Bag</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Leather Bag</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Canvas Bag</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>bucket bag</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Travel Accessories</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Gym Bags</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Fashion Waist Packs</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Messenger Bags</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>saddle bag</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Travel Duffels</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Umbrellas</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Waist Packs</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Travel Gear</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>curved boxy sling</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Luggage</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Briefcases</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Bowling</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Bucket Bag</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>floral lattice bag</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Crossbody Bag</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Clutch Handbag</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Hobo Shoulder</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Saddle Bag</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>Bag Accessories</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Wallet Wristlet</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Solo Premium </span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Laptop Bags</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Belts</span></a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-2">
                            <div class="jtv-nav-image1"> <a title="" href="#"><img alt="menu_image" src="images/menu-img1.jpg"> </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mega-menu">
            <a class="level-top" href="shop_grid.html"><span>Smartphones</span></a>
            <div class="jtv-menu-block-wrapper">
                <div class="jtv-menu-block-wrapper2">
                    <div class="nav-block jtv-nav-block-center">
                        <div class="col-1">
                            <ul class="level0">
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>tassel saddle bag</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Toaster Crossbody</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Piper Bag</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Leather Bag</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Canvas Bag</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>bucket bag</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Travel Accessories</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Gym Bags</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Fashion Waist Packs</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Messenger Bags</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>saddle bag</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Travel Duffels</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Umbrellas</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Waist Packs</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Travel Gear</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>curved boxy sling</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Luggage</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Briefcases</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Bowling</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Bucket Bag</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>floral lattice bag</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Crossbody Bag</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Clutch Handbag</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Hobo Shoulder</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Saddle Bag</span></a> </li>
                                    </ul>
                                </li>
                                <li class="parent item">
                                    <a href="shop_grid.html"><span>Bag Accessories</span></a>
                                    <ul class="level1">
                                        <li> <a href="shop_grid.html"><span>Wallet Wristlet</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Solo Premium </span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Laptop Bags</span></a> </li>
                                        <li> <a href="shop_grid.html"><span>Belts</span></a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-2">
                            <div class="jtv-nav-image1"> <a title="" href="#"><img alt="menu_image" src="images/menu-img1.jpg"> </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mega-menu">
            <a class="level-top" href="shop_grid.html"><span>Camera & Photo</span></a>
            <div class="jtv-menu-block-wrapper">
                <div class="jtv-menu-block-wrapper2">
                    <div class="nav-block jtv-nav-block-center">
                        <ul class="level0">
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Steve Madden</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>Elegant </span></a> </li>
                                    <li> <a href="shop_grid.html"><span>sassy &amp; chic</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Women's Satchel</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Shoulder Bag</span></a> </li>
                                </ul>
                            </li>
                            <li class="parent item">
                                <a href="shop_grid.html"><span>College Bags</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>fashion Backpack</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Rose Gold Saffiano</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Black Velvet</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Leather Handbags</span></a> </li>
                                </ul>
                            </li>
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Material Bag</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>Sling Bag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Diaper Bags</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Laptop Backpack</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Benetton Black </span></a> </li>
                                </ul>
                            </li>
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Lino Perros</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>Graphite Croco</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Swiss Military Red</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Hidesign</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Benetton</span></a> </li>
                                </ul>
                            </li>
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Aquatan</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>Travel Blue</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Charles & Keith</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Clutches</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>wristlets</span></a> </li>
                                </ul>
                            </li>
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Kenneth Cole</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>wallets</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>shoulder bags</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>leather totes</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>satchels</span></a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="jtv-nav-banner">
                        <div class="jtv-banner-box">
                            <div class="jtv-nav-banner-img"> <a href="#"><img src="/client-side/images/menu-img2.jpg" alt="Handbag"> </a> </div>
                        </div>
                        <div class="jtv-banner-box">
                            <div class="jtv-nav-banner-img"> <a href="#"><img src="/client-side/images/menu-img3.jpg" alt="Handbag"> </a> </div>
                        </div>
                        <div class="jtv-banner-box jtv-banner-box_last">
                            <div class="jtv-nav-banner-img"> <a href="#"><img src="/client-side/images/menu-img4.jpg" alt="Handbag"> </a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="mega-menu">
            <a class="level-top" href="shop_grid.html"><span>Apple Store</span></a>
            <div class="jtv-menu-block-wrapper">
                <div class="jtv-menu-block-wrapper2">
                    <div class="nav-block jtv-nav-block-center">
                        <ul class="level0">
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Leather Laptop</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>Hobo Bag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Fabric Bag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Backpack Bga</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Laptop Bga</span></a> </li>
                                </ul>
                            </li>
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Brandvilla NewYork</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>Print Laptop Bag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Office Bag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>shoulder bags</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>leather totes</span></a> </li>
                                </ul>
                            </li>
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Blue Laptop Bag </span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>leather totes</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Office Bag </span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Fabric Bag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>WallyBags</span></a> </li>
                                </ul>
                            </li>
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Clownfish Synthetic</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>Clutches bag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Genuine bag </span></a> </li>
                                    <li> <a href="shop_grid.html"><span>WallyBags </span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Leather Bags</span></a> </li>
                                </ul>
                            </li>
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Tara Vintage </span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>Crossbody Bag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Clutch Handbag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Hobo Shoulder</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Saddle Bag</span></a> </li>
                                </ul>
                            </li>
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Goatter Denim</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>Toaster Crossbody</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Piper Bag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Leather Bag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Canvas Bag</span></a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="mega-menu">
            <a class="level-top" href="shop_grid.html"><span>Computers</span></a>
            <div class="jtv-menu-block-wrapper">
                <div class="jtv-menu-block-wrapper2">
                    <div class="nav-block jtv-nav-block-center jtv-menu-box-left">
                        <ul class="level0">
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Luggage &amp; Bags</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>WallyBags</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>WallyBags</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>WallyBags</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>WallyBags</span></a> </li>
                                </ul>
                            </li>
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Sports</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>Pierre Cardin</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Pierre Cardin</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Pierre Cardin</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Pierre Cardin</span></a> </li>
                                </ul>
                            </li>
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Fitness</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>Samsonite</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Samsonite</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Samsonite</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Samsonite</span></a> </li>
                                </ul>
                            </li>
                            <li class="parent item">
                                <a href="shop_grid.html"><span>Outdoors</span></a>
                                <ul class="level1">
                                    <li> <a href="shop_grid.html"><span>Duffle Bag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Duffle Bag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Duffle Bag</span></a> </li>
                                    <li> <a href="shop_grid.html"><span>Duffle Bag</span></a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-block nav-block-right std jtv-menu-box-right"><img src="/client-side/images/menu-img5.jpg" alt="menu img"> </div>
                </div>
            </div>
        </li>
        <li class="mega-menu"> <a class="level-top" href="blog.html"><span>Blog</span></a> </li>

    </ul>
</div>