@model List<ProductCategoryViewModel>

<div class="mm-toggle-wrap">
    <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span> </div>
</div>
<div class="nav-inner">
    <!-- BEGIN NAV -->
    <ul id="nav" class="hidden-xs">
        <li class="drop-menu">
            <a href="/" class="level-top active"><span>Trang chủ</span></a>
        </li>
        <li class="drop-menu">
            <a href="/products.html"> <span>Sản phẩm</span> </a>
            <ul>
                @foreach (var item in Model.Where(c => c.ParentId == null))
                {
                    if (Model.Any(x => x.ParentId == item.Id))
                    {
                        <li class="sub-cat">
                            <a href="/@item.SeoAlias-c.@(item.Id).html"><span>@item.Name</span></a>
                            <ul>
                                @foreach (var subItem in Model.Where(x => x.ParentId == item.Id))
                                {
                                    <li>
                                        <a href="/@subItem.SeoAlias-c.@(subItem.Id).html"><span>@subItem.Name</span></a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="sub-cat">
                            <a href="/@item.SeoAlias-c.@(item.Id).html"><span>@item.Name</span></a>
                        </li>
                    }

                }
            </ul>
        </li>
        <li class="mega-menu">
            <a class="level-top" href="/contact.html"><span>Về chúng tôi</span></a>
        </li>
       
        <li class="mega-menu"> <a class="level-top" href="blog.html"><span>Blog</span></a> </li>
    </ul>
</div>